.aside {
  float: right;
  width: 30%;
}

.aside .search-box input {
  margin-top: 30px;
  height: 45px;
  width: 90%;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 3px;
  border-width: 1px;
  border-color: #f7f5f4;
}

.aside .search-box {
  padding-left: 10px;
}

#heading-1 {
  font-weight: bold;
}

#heading-2 {
  margin-top: 300px;
}

.aside ul {
  line-height: 2.5em;
  list-style: none;
  padding-left: 0px;
}

#heading-3 {
  margin-top: 300px;
}

.aside a {
  text-decoration: none;
  padding-left: 10px;
}

.aside h4 {
  padding-left: 10px;
}
